body {
    background-color: #efd3d7;
    font-family: 'Poppins';
}

.navbar-light {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 115px;
    background-color: #FBFCFD;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link{
    color: #cbc0d3;
    margin-left: 60px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #FFD200;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #FFD200;
}

#section-home {
    padding-top: 140px;
    padding-bottom: 100px;
}

#home-text {
    margin-top: 35px;
}

.home-desc{    
    font-weight: 500;
    line-height: 25px;
    font-size: 16px;
    color: #767779;
}

#section-greetings {
    color: #FFFFFF;
    background-color: #cbc0d3;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 170px;
    margin-bottom: 350px;
}

.col-centered {
    float: none;
    margin: auto;
}

#greetings-text{
    margin-top: 60px;
    margin-bottom: auto;
    padding-left: 60px;
}

.greetings-desc{
    color: #FFFFFF;
    font-weight: 500;
    line-height: 25px;  
    font-size: 18px;
}

h1 {
    color: #8e9aaf;
    font-size: 100px;
    font-weight: 700;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 60px;
}

h3 {
    color: #8e9aaf;
    font-size: 35px;
    font-weight: 600;
}

button {
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
}

.btn-talk {
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #8e9aaf;
    border: 2px solid #8e9aaf;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-top: 40px;
}

a:hover {
    text-decoration: none;
}

.btn-talk:hover {
    border: 2px solid #8e9aaf;
    background-color: transparent;
    color: #8e9aaf;
}

.btn-talk:active {
	position:relative;
	top:1px;
}

.btn-greetings {
    border: 2px solid #FFD200;
    background-color: #FFD200;
    color: #8e9aaf;
    padding: 10px 18px;
    margin-top: 50px;
}

.btn-greetings:hover {
    border: 2px solid #FBFCFD;
    background-color: #8e9aaf;
    color: #FBFCFD;
}

.btn-greetings:active {
	position:relative;
	top:1px;
}

.btn-dribbble {    
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 2px solid #8e9aaf;
    color: #8e9aaf;
    padding: 10px 16px;
    margin-left: auto;
}

.btn-dribbble:hover{
    border: 2px solid #8e9aaf;
    background-color: #8e9aaf;
    color: #FFFFFF;
}

.btn-dribbble:hover .iconify {
    color: #FFFFFF;
}

.btn-dribbble svg {
    fill: #8e9aaf;
}

.btn-dribbble:hover svg {
    fill: #FFFFFF;
}

.iconify {
    color: #8e9aaf;
    font-size: 24px;
    height: 28px;
    width: 28px;
}

.icon-footer {
    height: 38px;
    width: 38px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.icon-footer-ig {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.icon-footer:hover, .icon-footer-ig:hover {
    color: #A6A0A0;
}

h4 {
    color: #8e9aaf;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #8e9aaf;
}

.card-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #8e9aaf;
    margin-bottom: 20px;
    text-align: center;
}

#testi {
    margin-bottom: 60px;
}

#section-testimoni {
    padding-top: 80px;
    margin-bottom: 160px;
}

.testi {
    border-radius: 15px;
}

.p-testi {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #A6A0A0;
}

#section-porto {
    padding-top: 120px;
}

.p-title-porto {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #8e9aaf;
    margin-bottom: 30px;
    text-align: center;
}

.special {
    position: absolute;
    border-radius: 30px;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.05);
}

.title-card-special {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #8e9aaf;
    margin-top: 40px;
}

.p-card-special {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767779;
}

.porto {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}

.porto-title-right {
    text-align: right;
    padding-right: 80px;
}

.porto-title-left {
    padding-left: 80px;
}

#section-porto h3{
    color: #FFD200;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.btn {
    background-color: #8e9aaf;
    border: 2px solid #8e9aaf;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}

.btn:hover {
    background-color: #FFFFFF;
    border: 2px solid #8e9aaf;
    color: #8e9aaf;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #767779;
}

.button-center {
    text-align: center;
    margin-bottom: 80px;
}

#section-contact {
    padding-top: 80px;
    padding-bottom: 80px;
}

.p-title-contact {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #767779;
    text-align: center;
    margin-bottom: 40px;
}

.form-control {
    background-color: #D8DEED;
    border: 2px solid #D8DEED;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #8e9aaf;
    display: inline-block;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #8e9aaf;
}

.form-control:hover {
    color: #8e9aaf;
}

button[type=submit] {
    background-color: #8e9aaf;
    border: 2px solid #8e9aaf;
    color: #FFFFFF;
    padding: 10px 60px;
    margin-top: 40px;
}

button[type=submit]:hover {
    border: 2px solid #8e9aaf;
    background-color: transparent;
    color: #8e9aaf;
}

button[type=submit]:active {
	position:relative;
	top:1px;
}

.button-msg-center {
    text-align: center;
}

footer {
    background-color: #FBFCFD;
    padding-top: 60px;
    padding-bottom: 40px;
}

.logo img {
    margin-left: 20px;
    margin-right: 20px;
}

.owl-carousel .owl-item img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.owl-carousel .owl-item #dp {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
    height: 10em;
}

.owl-theme .owl-dots .owl-dot {
    margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #8e9aaf;
    height: 18px;
    width: 18px;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #C4C4C4;
    height: 18px;
    width: 18px;
}

.testi-text {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.tested-by {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.porto-img:hover {
    position: relative;
    transition: all .5s ease-in-out;
    transform: scale(2.5);
    z-index: 2;
}

.footer-desc p {
    font-weight: normal;
    font-size: 20px;
    color: #A6A0A0;
}

.footer-desc a span {
    color: #8e9aaf;
    font-weight: 600;
    text-decoration: none;
}

.footer-desc p a:hover, .footer-desc p a span:hover {
    color: #A6A0A0;
    text-decoration: none;
}

.md-accordion .card .fa-angle-down {
    float: right;
}

.md-accordion .card .card-header button:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* SHOW ON SCROLL */
.hero-wishes, .card-title, #greetings-text {
    opacity: 0;
    -webkit-transition: opacity .3s .25s ease-out;
    transition: opacity .3s .25s ease-out;
}

.hero-wishes.is-visible, .card-title.is-visible, #greetings-text.is-visible {
    opacity: 1;
}

.porto {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.porto.is-visible {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.porto:hover, .porto:active{
  box-shadow: 0px 20px 10px 5px rgba(209, 206, 206, 0.25);
}
/* END SHOW ON SCROLL */

@media (max-width: 575.98px) {
    .hidden-sm {
        display: none;
    }

    .navbar-light {
        padding: 15px;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-left: 0px;
    }

    h1 {
        font-size: 48px;
    }

    .card-title {
        font-size: 35px;
        line-height: 51px;
    }

    #greetings-text {
        padding-left: 15px;
    }

    #section-porto {
        margin-top: 980px;
    }

    #section-testimoni {
        padding-top: 60px;
    }

    .special {
        margin-right: 15px;
    }

    .porto-title-right {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    .porto-title-left {
        text-align: center;
        padding-left: 15px;
    }

    h3 {
        font-size: 32px;
    }

    h2 {
        font-size: 30px;
    }

    .porto-img:hover {
        position: relative;
        transition: all .5s ease-in-out;
        transform: scale(1.5);
        z-index: 2;
    }
}

@media (min-width: 580px) {
    .hidden-lg {
        display: none;
    }
}